.widget-container {
    width: 400px;
    border-radius: 0.5em 0.5em 0 0;

    background: rgb(81, 110, 171);
    background: linear-gradient(15deg, rgba(81, 110, 171, 1) 9%, rgba(41, 197, 246, 1) 100%);

    box-shadow: 0 -8px 6px -6px #00000050;
    margin: 0 auto;

    position: relative;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.weather-info {
    display: flex;
    justify-content: space-between;
}

.weather-icon {
    width: 8em;
}

.later-data {
    width: 400px;
    margin: 0 auto;;
    box-shadow: 0 8px 6px -6px black;
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.37, 1.00);
}

.later-data.hidden {
    transform: translateY(-100%);

}

.mini-record {
    width: 400px;
    margin: 0 auto;
    background: rgb(81, 110, 171);
    background: linear-gradient(36deg, rgba(81, 110, 171, 1) 9%, rgba(41, 197, 246, 1) 90%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(odd) {
        background: #516eab;
    }

    &:last-of-type {
        border-radius: 0 0 0.5em 0.5em;
    }
}

.mini-temp {
   display: flex;
}

.mini-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}